<% Object.keys(messages).forEach(function (type) { %>
    <div class="alert alert-<%= type %>">
        <!-- <div class="alert alert-danger"> -->
        <% messages[type].forEach(function (message) { %>
            <%= message %>
                <% }) %>
    </div>
    <% }) %>